.button {
    background: #0f0;
    color: white;
    border: #0ff;
    padding: 4px;
    margin: 2px;
    &:hover {
        background: #000;
    }
}

.game-button__item {
    width: 24px;
    height: 24px;
}

.hiddenText {
    color:#0f0

}